
<div class="sticky">

  <nav data-topbar role="navigation" data-options="sticky_on: [small, medium, large, xlarge]">

    <ul class="title-area">
      <li class="mobile-menu-button">Menu</li>
      <li class="name">
        <h1><a href="{{ url('index') }}"><img src="images/main-logo.png" alt="Bickford and Sons"></a></h1>
      </li>
    </ul>


    <div class="row side-bar">

      <ul>
        <li class="nav-home">
          <a class="scroll" href="{{ url('index') }}">
            <img src="images/header-logo.png" alt="Home">
          </a>
        </li>
        <div class="small-9 small-offset-3 column">
          <li class="nav-story">
            <img src="images/nav-glow.png" class="nav-glow">
            <a class="scroll" href="{{ url('index') }}#the-story" data-link="#the-story">
              <img src="images/nav-story.png" alt="The story thus far">
            </a>
          </li>
          <li class="nav-finest">
            <img src="images/nav-glow.png" class="nav-glow">
            <a class="scroll" href="{{ url('index') }}#finest-ingredients" data-link="#finest-ingredients">
              <img src="images/nav-finest.png" alt="Finest ingredients">
            </a>
          </li>
          <li class="nav-classic">
            <img src="images/nav-glow.png" class="nav-glow">
            <a class="scroll" href="{{ url('index') }}#classic-mixers" data-link="#classic-mixers">
              <img src="images/nav-classic.png" alt="Classic mixers">
            </a>
          </li>
          <li class="nav-sparkling">
            <img src="images/nav-glow.png" class="nav-glow">
            <a class="scroll" href="{{ url('index') }}#sparkling-botanicals" data-link="#sparkling-botanicals">
              <img src="images/nav-sparkling.png" alt="Sparkling botanicals">
            </a>
          </li>
          {#<li class="nav-movers">
            <img src="images/nav-glow.png" class="nav-glow">
            <a class="scroll" href="{{ url('index') }}#movers-and-shakers" data-link="#movers-and-shakers">
              <img src="images/nav-movers.png" alt="Movers and shakers">
            </a>
          </li>#}
          <li class="nav-liaise">
            <img src="images/nav-glow.png" class="nav-glow">
            <a class="scroll" href="{{ url('index') }}#liaise" data-link="#liaise">
              <img src="images/nav-liaise.png" alt="Liaise with us">
            </a>
          </li>
          <li class="facebook-nav nav-social">
            <a target="_blank" href="https://www.facebook.com/bickfordandsons">Facebook</a>
          </li>
<!--           <li class="twitter-nav nav-social">
            <a target="_blank" href="https://twitter.com/Bickfords_AU">Twitter</a>
          </li> -->
          <li class="instagram-nav nav-social">
            <a target="_blank" href="https://www.instagram.com/bickfordandsons">Instagram</a>
          </li>
          <li class="youtube-nav nav-social">
            <a target="_blank" href="https://www.youtube.com/channel/UCUMOhtJjvwug4EJHaYPFRag">Youtube</a>
          </li>
        </div>
      </ul>

    </div>

    <div class="black-gradient"></div>

  </nav>
</div>
